
body{
    background-color: #EFEAD8;
    font-family: 'Balsamiq Sans';
    
}



.navbar{
    padding-bottom: 6rem;
}
.navbar-brand{
    color: #354259;
    font-size: xx-large;

}
h1{
    font-family: 'Balsamiq Sans';
    line-height: 1.5;
    color: #354259;
    font-size: 3rem;
}



.code-logo{
    margin-right: 0.4rem;
    margin-top: 0.2rem;
    color: #00ADB5;
    
}






h3{
    line-height: 1.3;
    color: #354259;
}
.main{
    padding: 3% 15%;
    width: 100%; 
    
}
/* .iphone-mockup{
    size: 4rem;
} */
.img-div{
    max-width: 60%;
    display: block;
    margin: auto;
}
a:hover{
    color: #00ADB5;
}
.iphone-mockup{
    position: relative;

    left: 30%;
}
.instagram-button{
    
    
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.2),
        rgba(255, 255, 255, 0.3)
      );
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  /* font-size: 5rem; */
  /* width: 200px;
  height: 200px; */
  border-radius: 10px;
  overflow: hidden;
  padding: 0.7rem 2rem;
  /* display: flex; */
}
@media (max-width: 992px){
    
    h1{
     font-size: 2.4rem;
     
    }
    .cta-text{
        line-height: 1.3;
        font-size: 1rem;
    }
    .img-div{
     max-width: 80%;
        padding-top: 20%;
        
    }
    .iphone-mockup{
        position: relative;
        left: auto;
        
    }
    .instagram-button{
        
        text-decoration: none;
    }
    .main{
        padding-bottom: -4rem;
        
    }
    #first-section{
        text-align: center;
    }


    
 
 }